.header {
  font-family: "Space Mono", monospace;
  background-color: rgba(#fffbfe, 0.75);
  padding: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 1;

  &__nav {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
  }

  &__link {
    color: #de80af;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    border: 0.0625rem dashed #de80af;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    &:hover {
      background-color: #fff;
      text-decoration: underline;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
}
