@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7ecf3;
  background-image: linear-gradient(
      0deg,
      rgba(#f5e1ef, 0.4) 25%,
      transparent 25%,
      transparent 75%,
      rgba(#f5e1ef, 0.4) 75%
    ),
    linear-gradient(
      90deg,
      rgba(#f5e1ef, 0.6) 25%,
      transparent 25%,
      transparent 75%,
      rgba(#f5e1ef, 0.4) 75%
    );
  background-size: 5rem 5rem;
}
